<%- include('partials/header') %>

<style>
    
  </style>
<!--hello-->
<section id="hello" class="container-fluid d-flex align-items-center justify-content-center"data-aos="flip-up">
    <div class="hello-overlay">
      <div class="text-center hello-content" >
        <h1 class="fw-bold headsFont mb-0">About Us</h1>
        <p class="bodyFont">Learn more about our mission, vision, and the team behind our foundation</p>
      </div>
    </div>
    </section>
 <!--About Kibato-->
<div class="container" data-aos="flip-down">

        <section id="About-Kibato">
            
            <div class="Aboutimg" data-aos="slide-up"data-aos-delay="100">
            <img src="images/photo1.jpg" alt="">
            </div>

            <div class=" text-center blur">
                <div class="blurry black"data-aos="zoom-in"data-aos-delay="300">
                <h2 class="section-title">About Kibatto Development Foundation</h2>
                <p class="bodyFont">Kibatto Development foundation is dedicated to supporting children in Uganda. We focus on providing essential resources, education, and support to improve their lives and future prospects.</p>
            </div>
            </div>
        </section>
    </div>
<!--mission, vision, values-->
<section class="team-members">
    <div class="team-container">
        <div class="team">
            <div class="team-member"data-aos="slide-up"data-aos-delay="300">
                
                <h2>Our Mission</h2>
               
                <p>To empower and uplift children in Uganda through comprehensive care, education, and community support, ensuring a brighter future for all.</p>
            </div>
            <div class="team-member"data-aos="slide-up"data-aos-delay="400">
              
                <h2>Our Vision</h2>
                
                <p>A world where every child in Uganda has the opportunity to thrive, grow, and achieve their full potential.</p>
            </div>
  
            <div class="team-member"data-aos="slide-up"data-aos-delay="500">
              
                <h2>Our Values</h2>
               
                <p><li class="text-start">Compassion</li>
                    <li class="text-start">Integrity</li>
                    <li class="text-start">Commitment</li>
                    <li class="text-start">Empowerment</li></p>
            </div>
           
        </div>
    </div>
  </section>


<!--Meet our Team-->
<section class="container mt-5" >
    <div class="found">
<div class="founder"data-aos="zoom-in"data-aos-delay="100">
    <img src="images/0708395160 (4).JPG" alt="">
</div>
<div class="hamza"data-aos="slide-up" data-aos-delay="200">
    <h2>Mr Kibatto Joseph</h2>
    <h6>Founder</h6>
    <p>Mr. Kibatto Joseph is a visionary and ambitious person who believes in leaving no stone unturned when it comes to accomplishing life goals. He believes that it is the beauty of the planet that keeps everyone’s life going. Hence, Kibato Joseph was born with the intention of supportting children to improve their lives and future prospects.</p>
</div>
</div>
</section>

<!--Meet Our Team in general-->
<section class="team-members mt-3" id="meet">
    <div class="team-container">
        <h1 data-aos="flip-down">Meet Our Team</h1>
        <div class="team">
            <div class="team-member"data-aos="slide-up"data-aos-delay="100">
                <img src="images/0708395160 (4).JPG" alt="John Doe" height="200px">
                <h2>Kibatto Joseph</h2>
                <p>CEO & Founder</p>
              
            </div>
            <div class="team-member"data-aos="slide-up"data-aos-delay="200">
                <img src="images/IMG_20240803_141005_314.jpg" alt="Jane Smith" height="200px">
                <h2> Mugabire Jackline</h2>
                <p>Nurse</p>
              
            </div>
  
            <div class="team-member"data-aos="slide-up"data-aos-delay="300">
                <img src="images/IMG-20240428-WA0005.jpg" alt="Jane Smith" height="200px">
                <h2>Sserunjojji Hamuzah</h2>
                <p>Programs Manager</p>
              
            </div>
            <!--more team members -->
        </div>
    </div>
  </section>
  <!--footer-->
  <section id="footer" class="mt-0 mb-0">
    <%- include('partials/footer') %>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>
    AOS.init();
  </script> 
</body>
  </html>