<%- include('partials/header') %>

<section class="hero" data-aos="fade-up">
    <div class="overlay"></div>
    <div class="content">
        <h1 id="title"></h1>
        <p id="description"></p>
    </div>
</section>

<center>
    <div class="contact-section1" data-aos="fade-up">
        <div class="contact-info1">
            <div class="contact-item1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg>
                <p><a href="mailto:Kibattodevelopmentfoundatin@gmail.com">Kibattodevelopmentfoundatin@gmail.com</a></p>
            </div>
            <div class="contact-item1" data-aos="fade-up" data-aos-delay="100">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg>
                <p><a href="tel:256779125958">+256 779125958</a></p>
                <p><a href="tel:256741436606">+256 741436606</a></p>
             
            </div>
        </div>
    </div>
</center>

<center>
    <div class="contact-form-container" data-aos="fade-up">
        <h3>Fill and submit this form for any inquiries</h3>
        <form id="contactForm" class="contact-form">
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="First and Last Name" required>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="100">
                <input type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="200">
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="300">
                <select id="subject" name="subject" required>
                    <option value="" disabled selected>Subject</option>
                    <option value="Sponsorship Request">Sponsorship Request</option>
                    <option value="Donation Support">Donation Support</option>
                    <option value="General Inquiries">General Inquiries</option>
                </select>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="400">
                <textarea id="message" name="message" rows="8" placeholder="Message/Inquiry Details" required></textarea>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="500">
                <button type="submit" class="btn btn-orange ">Send Message</button>
            </div>
        </form>
        <div id="responseMessage"></div>
    </div>
</center>

<center>
    <div class="info-item2" data-aos="fade-up">
        <h3>Office Hours</h3>
        <p>Monday - Saturday, 8 AM - 6 PM</p>
        <p>Sunday, Closed</p>
    </div>
</center>
<div class="map-container" data-aos="fade-up">
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3989.717047926239!2d32.04522727496478!3d0.40823249958776625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMMKwMjQnMjkuNiJOIDMywrAwMic1Mi4xIkU!5e0!3m2!1sen!2sug!4v1723568073273!5m2!1sen!2sug" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!--footer-->
<section id="footer" class="mt-0">
    <%- include('partials/footer') %>
  </section>
<script src="js/script.js"></script>
<script src="js/yourscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init();
</script>
