<%- include('partials/header') %>
<!--Welcome-->
<section id="Welcome" class="container-fluid d-flex align-items-center justify-content-center"data-aos="fade-up">
  <div class="welcome-overlay">
    <div class="text-center welcome-content"data-aos="fade-up" data-aos-delay="300" >
      <h1 class="fw-bold headsFont mb-0">Helping Children in Uganda</h1>
      <p class="bodyFont">Join us in making a difference in the lives of children in need.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-center">
       <a href="/Donate"><button type="button" class="btn btn-orange btn-lg px-4 gap-3">Donate Now</button></a> 
      </div>
    </div>
  </div>
  </section>

  <!--About us-->
  <h2 class="display-5 text-center mb-0 mt-3"data-aos="flip-up" data-aos-delay="300">About Us</h2>
  <section id="About-us">
    <div class="About-container">
      <div class="About-us">
        <div class="About-text">
          <div class="card cards"data-aos="slide-up">
            <div class="card-body">
              <h5 class="card-title mt-3">Company Overview</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Who We Are</h6>
              <p class="card-text">Our company is a newly established <br>provider of innovative solutions and <br>services Founded in 2023 our mission <br>is to make a positive impact on <br>the world We are committed to <br>delivering exceptional value to our <br>customers and making a difference <br>in their lives.</p>
            </div>
          </div>
        </div>
  
        <div class="About-text">
          <div class="card cards"data-aos="slide-up" data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title mt-3">Our Story</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">How We Started</h6>
              <p class="card-text">Our story began with a vision to <br>create a company that would make <br>a difference in the world Our <br>founders had a passion for innovation <br>and a desire to create a better <br>future We started the company with <br>a small team and a big dream <br>and we are excited to see what <br>the future holds.</p>
            </div>
          </div>
        </div>
  
        <div class="About-text" id="mission">
          <div class="card cards"data-aos="slide-up" data-aos-delay="200">
            <div class="card-body">
              <h5 class="card-title mt-3">Our Mission</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">What Drives Us</h6>
              <p class="card-text">Kibatto Development Foundation boldly<br> works in order to evangelize, improve <br>child nutrition, care for the<br>earth and ultimately end<br>hunger and poverty in Nation.
            </div>
          </div>
        </div>
  
        <div class="About-text" id="values">
          <div class="card cards"data-aos="slide-up" data-aos-delay="300">
            <div class="card-body">
              <h5 class="card-title mt-3 px-3">Our Values</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary px-3">What We Stand For</h6>
              <p class="card-text px-3">We believe in innovation teamwork <br>customer satisfaction integrity and <br>social responsibility These values guide <br>our decisions and actions and are <br>the foundation of our company culture <br>We strive to make a positive impact <br>on the world and make a difference <br>in the lives of our customers.</p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="dotz"></div>
    </div>
  </section>

   <!-- Our programs -->
   <section id="programs" class="programs text-center">
    <h2 class="headsFont"data-aos="fade-in">Our Programs</h2>
    
    <div class="programms container">
      <p class="lead"data-aos="flip-up" data-aos-delay="100">We run various programs aimed at improving the lives of children in Uganda.</p>
          <div class="programe Education"data-aos="zoom-in" data-aos-delay="500">
              <h3 class="text-center display-6 text-light"data-aos="fade-in">Education</h3>
              <p class="text-center display-6 text-light"data-aos="fade-in">Providing educational resources and support to ensure every child has the opportunity to learn.</p>
          </div>
        
            <div class="programe Healthcare"data-aos="zoom-in">
              <h3 class="text-center display-6 text-light"data-aos="fade-in">Healthcare</h3>
              <p class="text-center display-6 text-light"data-aos="fade-in">Offering medical care and health education to keep children healthy and happy.</p>
        </div>
        <div class="programe Nutrition"data-aos="zoom-in">
            <h3 class="text-center display-6 text-light"data-aos="fade-in">Nutrition</h3>
            <p class="text-center display-6 text-light"data-aos="fade-in">Ensuring children receive proper nutrition for their growth and development.</p>
          </div>
        </div>
</div>
  </section>

   <!--SUCCESS STORIES-->
   <section id="success" class="container-fluid"data-aos="slide-up">
    <div class="text-center pt-5">
      
        <p class="mb-0 pt-5">Read inspiring stories of the lives that have been transformed through our programs.</p>
        <h2 class="text-light">"Success Stories"</h2>
    </div>
    <div class="carousel slide" id="successCarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="success-container">
                  <img src="images/jed (5).JPG" class="successImg" alt="">
                  <h2 class="text-center">John's Journey to Education</h2>
                  <h3 class="text-center">John grew up in a rural village with limited access to education. With our support, he is now excelling in school and dreams of becoming a teacher.</h3>
                  <p class="text-center carousel-text">John</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="success-container">
                  <img src="images/yeio0 (5).JPG" class="successImg" alt="">
                  <h2 class="text-center">David's Path to Health and Happiness</h2>
                    <h3 class="text-center">Born with a heart condition, Mary received the necessary surgery through our foundation. She is now healthy and thriving in school.</h3>
                    <p class="text-center carousel-text">David.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="success-container">
                  <img src="images/photo13.jpg" class="successImg" alt="">
                  <h2 class="text-center">Jorum's Hope for a Better Future</h2>
                  <h3 class="text-center">Jorum faced challenges due to poverty, but with our help, he is now receiving an education and working towards a brighter future.</h3>
                  <p class="text-center carousel-text">Jorum</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#successCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#successCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#successCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#successCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#successCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
</section>
<!--Meet Our Team-->
<section class="team-members">
  <div class="team-container">
      <h1 data-aos="flip-up">Meet Our Team</h1>
      <div class="team">
          <div class="team-member"data-aos="flip-up "data-aos-delay="200">
              <img src="images/0708395160 (4).JPG" alt="KIBATTO JOSEPH"  height="200px">
              <h2>Kibatto Joseph</h2>
              <p>CEO & Founder</p>
              
          </div>
          <div class="team-member"data-aos="flip-up" data-aos-delay="300">
              <img src="images/IMG_20240803_141005_314.jpg" alt="Mugabire Jackline" height="200px">
              <h2>Mugabire Jackline</h2>
              <p>Nurse</p>
            
          </div>

          <div class="team-member"data-aos="flip-up" data-aos-delay="400">
              <img src="images/IMG-20240428-WA0005.jpg" alt="Hamza" height="200px">
              <h2>Sserunjojji Hamuzah</h2>
              <p>Programs Manager</p>
             
          </div>
          <!--more team members -->
      </div>
  </div>
</section>

  <!--footer-->
 <section id="footer" class="mt-0">
  <%- include('partials/footer') %>
</section>
<script src="./js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>